#ifttt-connector-2:registry=http://localhost:8081/nexus/content/repositories/npm-private/
registry=http://localhost:8081/nexus/content/repositories/npm-all/
#registry=https://registry.npmjs.org/
init.author.name = Kyle Goetz
init.author.email = kylegoetz@gmail.com
init.author.url = https://github.com/kylegoetz
user.name=admin
email=kylegoetz@gmail.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
